@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b8b9c3 #0000;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.transparent');
}

::-webkit-scrollbar-thumb {
  background-color: #b8b9c3;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar-corner {
  background-color: #0000;
}