@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .page-inset {
    @apply max-w-screen-xl px-6;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b8b9c3 #0000;
  /* Saw video with this recommendation, made sense to add it 
  since I have enountered weird bug in passed probably caused by
  default min width on text. May cause other issues, but those
  would be more obviously fixed by changing min width.*/
  min-width: 0; 
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.transparent');
}

::-webkit-scrollbar-thumb {
  background-color: #b8b9c3;
  border-radius: 10px;
  border: none;
}
::-webkit-scrollbar-corner {
  background-color: #0000;
}